################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LAPP.WS/Controllers/ESD
