################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LAPP.LOGING/bin/Debug
/.vs/LAPP/v14/.suo
/.vs/LAPP/v14/.suo
/.vs/config/applicationhost.config
/LAPP.BAL/bin/Debug/LAPP.BAL.pdb
/LAPP.BAL/bin/Debug/System.Web.Http.xml
/LAPP.BAL/bin/Debug/System.Web.Http.dll
/LAPP.BAL/bin/Debug/System.Net.Http.Formatting.xml
/LAPP.BAL/bin/Debug/System.Net.Http.Formatting.dll
/LAPP.BAL/bin/Debug/Newtonsoft.Json.xml
/LAPP.BAL/bin/Debug/Newtonsoft.Json.dll
/LAPP.BAL/bin/Debug/MySql.Data.dll
/LAPP.BAL/bin/Debug/LAPP.LOGING.pdb
/LAPP.BAL/bin/Debug/LAPP.LOGING.dll
/LAPP.BAL/bin/Debug/LAPP.GlobalFunctions.pdb
/LAPP.BAL/bin/Debug/LAPP.GlobalFunctions.dll
/LAPP.BAL/bin/Debug/LAPP.ENTITY.pdb
/LAPP.BAL/bin/Debug/LAPP.DAL.pdb
/LAPP.BAL/bin/Debug/LAPP.DAL.dll
/LAPP.BAL/bin/Debug
LAPP.GlobalFunctions/obj/Debug/LAPP.GlobalFunctions.csprojResolveAssemblyReference.cache
LAPP.WS/bin/LAPP.WS.pdb
LAPP.WS/obj/Debug/LAPP.WS.pdb
/LAPP.ENTITY/obj/Debug
/LAPP.BAL/obj/Debug/LAPP.BAL.pdb
/LAPP.BAL/obj/Debug/LAPP.BAL.dll
/LAPP.BAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LAPP.BAL/obj/Debug/LAPP.BAL.csprojResolveAssemblyReference.cache
/LAPP.BAL/obj/Debug/LAPP.BAL.csproj.FileListAbsolute.txt
/LAPP.DAL/obj/Debug/LAPP.DAL.dll
/LAPP.DAL/obj/Debug/LAPP.DAL.csprojResolveAssemblyReference.cache
/LAPP.DAL/obj/Debug/LAPP.DAL.csproj.FileListAbsolute.txt
/LAPP.DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LAPP.DAL/obj/Debug/LAPP.DAL.pdb
/LAPP.DAL/bin/Debug/System.Web.WebPages.xml
/LAPP.DAL/bin/Debug/System.Web.WebPages.Razor.xml
/LAPP.DAL/bin/Debug/System.Web.WebPages.Razor.dll
/LAPP.DAL/bin/Debug/System.Web.WebPages.dll
/LAPP.DAL/bin/Debug/System.Web.WebPages.Deployment.xml
/LAPP.DAL/bin/Debug/System.Web.WebPages.Deployment.dll
/LAPP.DAL/bin/Debug/System.Web.Razor.xml
/LAPP.DAL/bin/Debug/System.Web.Razor.dll
/LAPP.DAL/bin/Debug/System.Web.Mvc.xml
/LAPP.DAL/bin/Debug/System.Web.Mvc.dll
/LAPP.DAL/bin/Debug/System.Web.Http.xml
/LAPP.DAL/bin/Debug/System.Web.Http.WebHost.xml
/LAPP.DAL/bin/Debug/System.Web.Http.WebHost.dll
/LAPP.DAL/bin/Debug/System.Web.Http.dll
/LAPP.DAL/bin/Debug/System.Web.Helpers.xml
/LAPP.DAL/bin/Debug/System.Web.Helpers.dll
/LAPP.DAL/bin/Debug/System.Net.Http.Formatting.xml
/LAPP.DAL/bin/Debug/System.Net.Http.Formatting.dll
/LAPP.DAL/bin/Debug/Newtonsoft.Json.xml
/LAPP.DAL/bin/Debug/Newtonsoft.Json.dll
/LAPP.DAL/bin/Debug/MySql.Data.dll
/LAPP.DAL/bin/Debug/Microsoft.Web.Infrastructure.dll
/LAPP.DAL/bin/Debug/LAPP.ENTITY.pdb
/LAPP.DAL/bin/Debug/LAPP.ENTITY.dll
/LAPP.DAL/bin/Debug/LAPP.DAL.pdb
/LAPP.DAL/bin/Debug/LAPP.DAL.dll
/LAPP.WS/obj/Debug/LAPP.WS.dll
/LAPP.WS/obj/Debug/LAPP.WS.csprojResolveAssemblyReference.cache
/LAPP.WS/obj/Debug/LAPP.WS.csproj.FileListAbsolute.txt
/LAPP.WS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LAPP.ENTITY/bin/Debug/LAPP.ENTITY.pdb
/LAPP.ENTITY/bin/Debug/LAPP.ENTITY.dll
/LAPP.GlobalFunctions/obj/Debug/LAPP.GlobalFunctions.pdb
/LAPP.GlobalFunctions/obj/Debug/LAPP.GlobalFunctions.dll
/LAPP.GlobalFunctions/obj/Debug/LAPP.GlobalFunctions.csproj.FileListAbsolute.txt
/LAPP.GlobalFunctions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LAPP.GlobalFunctions/bin/Debug/Newtonsoft.Json.dll
/LAPP.GlobalFunctions/bin/Debug/LAPP.GlobalFunctions.pdb
/LAPP.GlobalFunctions/bin/Debug/LAPP.GlobalFunctions.dll
/LAPP.LOGING/obj/Debug/LAPP.LOGING.pdb
/LAPP.LOGING/obj/Debug/LAPP.LOGING.dll
/LAPP.LOGING/obj/Debug/LAPP.LOGING.csprojResolveAssemblyReference.cache
/LAPP.LOGING/obj/Debug/LAPP.LOGING.csproj.FileListAbsolute.txt
/LAPP.LOGING/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
