<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
 <connectionStrings>
    <!-- Any Change in connection string NAME will affect BASE.DAL and LAPP.LOGING-->
    <add name="LappDB" connectionString="Server=server;Port=3306;uid=sa;pwd=abc@123;Database=lappprod;Pooling=false;"/> 
    <add name="LappLogingDB" connectionString="Server=server;Port=3306;uid=sa;pwd=abc@123;Database=lapplogging;Pooling=false;"/> 
   
    <!--<add name="LappDB" connectionString="Server=96.31.91.68;Port=3306;uid=admin;pwd=abc@123;Database=lapp_ws_db;Pooling=false;"/>-->
    <!--<add name="LappLogingDB" connectionString="Server=96.31.91.68;Port=3306;uid=sa;pwd=abc@123;Database=lapplogging_ws_db;Pooling=false;"/>-->

    <add name="SQLConnectionString" connectionString="Data Source=SERVER;Initial Catalog=LAPP;User ID=sa;Password=abc@123"/>
    <add name="SQLConnectionStringLogging" connectionString="Data Source=SERVER;Initial Catalog=lapplogging;User ID=sa;Password=abc@123"/>
    <!--<add name="LappDB" connectionString="Server=localhost;Port=3306;uid=admin;pwd=abc@123;Database=lapp_ws_db;Pooling=false;"/>-->
    <!-- <add name="LappLogingDB" connectionString="Server=localhost;Port=3306;uid=admin;pwd=abc@123;Database=lapplogging_db;Pooling=false;"/> -->
  </connectionStrings>
 
   <appSettings>
    <add key="DatabaseType" value="MYSQL"/>
    <add key="DevelopmentMode" value="true"/>

    <add key="SMTPHost" value="192.168.1.85"/>
    <add key="SMTPPort" value="25"/>
    <add key="SenderAddress" value="developer@ebsoftsolutions.com"/>
    <add key="EmailPassword" value="123456"/>
    <add key="FromAddress" value="developer@ebsoftsolutions.com"/>
  </appSettings>
</configuration>
